<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64520/GameService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGameService" contract="GameServiceReference.IGameService"
                name="BasicHttpBinding_IGameService" />
        </client>
    </system.serviceModel>
</configuration>