<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" maxReceivedMessageSize="5242880" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <services>
		  <service name="Hangman_Server.GameService" behaviorConfiguration="mexBehavior">
			  <endpoint address=""
						binding="basicHttpBinding"
						bindingConfiguration="DefaultBasicHttpBinding"
						contract="Hangman_Server.IGameService" />
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		  </service>

		  <service name="Hangman_Server.HangmanService" behaviorConfiguration="mexBehavior">
			  <endpoint address=""
						binding="basicHttpBinding"
						bindingConfiguration="DefaultBasicHttpBinding"
						contract="Hangman_Server.IHangmanService" />
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		  </service>
	  </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="HangmanEntities" connectionString="metadata=res://*/Model.Hangman_DB.csdl|res://*/Model.Hangman_DB.ssdl|res://*/Model.Hangman_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R5DRO0D7\MSSQLSERVERHP;initial catalog=Hangman;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>